.c-title{
    color: #333;
    margin-bottom: 25px;

    &__head{
        font-size: 16px;
        font-weight: bold;
        border-bottom: 3px solid #55acee;
        margin-bottom: 10px;
    }

    &__description{
        font-size: 14px;
    }
}
