// ==================================
// p-table
// ==================================
.p-table {
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    word-break: break-all;
    @include mq() {
        letter-spacing: 0;
    }

    &__title {
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mq() {
            margin-bottom: 10px;
        }
    }

    &__caption {
        font-weight: bold;
        font-size: $font-size_l;
        text-align: left;
        display: inline-block;
        @include mq() {
            font-size: $font-size_default;
            width: 50%;
        }
    }

    &__button {
        display: inline-block;
        @include mq() {
            margin-bottom: 3px;
            border-radius: 5px;
            display: inline-block;
            flex: 1;
            height: 40px;
            margin: 0 2px;
        }
    }

    &__head {
        font-size: $font-size_m;
        font-weight: bold;
        @include mq() {
            font-size: $font-size_default;
        }
    }

    &__th {
        padding: 10px;
        border-bottom: 3px solid $color-twitter;
        margin-right: 10px;
        box-sizing: border-box;
        @include mq() {
            font-size: $font-size_s;
            padding: 5px;
            display: none;
        }

        &--follow {
            &:nth-child(1), &:nth-child(2) {
                width: 15%;
            }

            &:nth-child(3) {
                width: 40%;
            }

            &:nth-child(4) {
                width: 20%;
            }
        }

        &--like {
            &:nth-child(1) {
                width: 80%;
            }

            &:nth-child(2) {
                width: 20%;
            }
        }

        &--tweet {
            &:nth-child(1), &:nth-child(4) {
                width: 20%;
            }

            &:nth-child(3) {
                width: 25%;
            }

            &:nth-child(2) {
                width: 35%;
            }
        }

        &--filter {
            &:nth-child(1) {
                width: 20%;
            }

            &:nth-child(2), &:nth-child(3) {
                width: 30%;
            }

            &:nth-child(4) {
                width: 20%;
            }
        }
    }

    &__td {
        padding: 10px;
        border-bottom: 1px dotted $color-default-parent;
        white-space: pre-line;
        @include mq() {
            font-size: $font-size_s;
            padding: 5px;
            border-bottom: 1px solid #dbe1e8;
            display: flex;
            justify-content: space-between;
            &:last-child {
                border-bottom: none;
            }
            &::before {
                content: attr(aria-label);
                font-weight: bold;
                padding-right: 20px;
                white-space: nowrap;
            }
        }
    }

    &__tr{
        @include mq() {
            display: block;
            border: 1px solid #dbe1e8;
            box-shadow: 3px 3px rgba(0, 0, 0, .1);
            margin-bottom: 20px;
            padding: 8px 8px 0;
        }
    }

    &__btnarea{
        padding: 10px;
        border-bottom: 1px dotted $color-default-parent;
        @include mq() {
            padding: 5px;
            display: flex;
            &:last-child {
                border-bottom: none;
            }
            &::before {
                display: none;
            }
        }

    }
}
